pre{
    font-size: xx-small;
    color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
.non{
    color: brown;
}
.non::before{
    display: none;
}
#textleft{
    margin-left: 25px;
}