#cent{
    text-align: center;
}
#formula{
    text-align: center;
}
#spm{
background-color: rgba(245, 110, 92, 0.781);
}
#textleft{
    margin-left: 25px;
    font-family: 'Times New Roman', Times, serif;
}
